// colors
$white: #fff;
$black: #000;
$grey: #aaa;

$light: #e5e5e5;
$dark: #243443;

$primary: #377dff;
$secondary: #6bff37;
$tertiary: #ffaf37;

$shadow-sm: 0 .5rem 1rem rgba($black, .1);
$shadow-md: 0 .5rem 1rem rgba($black, .15);

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// size
$sm: 1rem;
$md: 3rem;
$lg: 5rem;
$xl: 8rem;