// colors
$white: #fff;
$black: #000;
$grey: #aaa;

$light: #e5e5e5;
$dark: #243443;

$primary: #377dff;
$secondary: #6bff37;
$tertiary: #ffaf37;

$shadow-sm: 0 .5rem 1rem rgba($black, .15);
$shadow-md: 0 1rem 1.5rem rgba($black, .2);