@use '../variables' as *;

// margin

.m {
    &-sm {
        margin: $sm !important;
    }
    &-md {
        margin: $md !important;
    }
    &-lg {
        margin: $lg !important;
    }
    &-xl {
        margin: $xl !important;
    }
    &-auto {
        margin: auto !important;
    }
}
.mb {
    &-sm {
        margin-bottom: $sm !important;
    }
    &-md {
        margin-bottom: $md !important;
    }
    &-lg {
        margin-bottom: $lg !important;
    }
    &-xl {
        margin-bottom: $xl !important;
    }
    &-auto {
        margin-bottom: auto !important;
    }
}
.mt {
    &-sm {
        margin-top: $sm !important;
    }
    &-md {
        margin-top: $md !important;
    }
    &-lg {
        margin-top: $lg !important;
    }
    &-xl {
        margin-top: $xl !important;
    }
    &-auto {
        margin-top: auto !important;
    }
}
.ml {
    &-sm {
        margin-left: $sm !important;
    }
    &-md {
        margin-left: $md !important;
    }
    &-lg {
        margin-left: $lg !important;
    }
    &-xl {
        margin-left: $xl !important;
    }
    &-auto {
        margin-left: auto !important;
    }
}
.mr {
    &-sm {
        margin-right: $sm !important;
    }
    &-md {
        margin-right: $md !important;
    }
    &-lg {
        margin-right: $lg !important;
    }
    &-xl {
        margin-right: $xl !important;
    }
    &-auto {
        margin-right: auto !important;
    }
}

.mx {
    &-sm {
        margin-right: $sm !important;
        margin-left: $sm !important;
    }
    &-md {
        margin-right: $md !important;
        margin-left: $md !important;
    }
    &-lg {
        margin-right: $lg !important;
        margin-left: $lg !important;
    }
    &-xl {
        margin-right: $xl !important;
        margin-left: $xl !important;
    }
}

.my {
    &-sm {
        margin-top: $sm !important;
        margin-bottom: $sm !important;
    }
    &-md {
        margin-top: $md !important;
        margin-bottom: $md !important;
    }
    &-lg {
        margin-top: $lg !important;
        margin-bottom: $lg !important;
    }
    &-xl {
        margin-top: $xl !important;
        margin-bottom: $xl !important;
    }
}
