// align text
.text {
    &-start {
        text-align: start;
    }
    &-center {
        text-align: center;
    }
    &-end {
        text-align: end;
    }
}

// position

.pos {
  &-a {
    position: absolute;
  }
  
  &-r {
    position: relative;
  }
  
  &-f {
    position: fixed;
  }
}